/*@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700);
*/

html {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

body {
    
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: #1D1D1D;
    color: #EFEFEF;
}

/* Typo */

p{
    
}

a{
    
}

h1,h2,h3,h4,h5 {
    
}


/* Wrapper */

.wrapper {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    
    
} 

/* Die Zählfelder */

.wrapper-count {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.player-field {
    text-align: center;
    padding: 10vw;
    font-size: 40px;
    flex: 0;
    
    align-items: center;
    display: flex;
    justify-content: space-around;
}

/* Die Logs */

.wrapper-log {
    width: 50%;
    display: flex;
    padding: 10vw 0;
    flex-direction: row;
    border-left: 1px solid #272727;
}

.log-1,.log-2 {
    width: 50%;
    text-align: center;
}


.menu {
    text-align: center;
}


.clear {
    clear: both;
}


@media all and (min-width: 0px) and (max-width: 700px) { 
    
    .wrapper {
        flex-direction: column;
    }
    
    .wrapper-count {
        width: 100%;
        height:70%;
        }
        
    .wrapper-log {
        width: 100%;
        border-top: 1px solid #272727;
    }
    
}